<main id="main">
  <div clas="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h4 class="mb-3">Bookings</h4>
        <p>Please fillout the information below to schedule your appointment with Seven Migration.</p>
        <p>If you are a returning client, please fill in your email address and we'll search for your details.</p>

        <div id="smartwizard">
          <ul>
            <li><a href="#step-1">Choose your service</a></li>
            <li><a href="#step-2">Pick a date</a></li>
            <li><a href="#step-3">Contact info</a></li>
            <li><a href="#step-4">Payment</a></li>
            <li><a href="#step-5">Booking details</a></li>
          </ul>
          <div>
            <%= render 'step_1' %>
            <%= render 'step_2' %>
            <%= render 'step_3' %>
            <%= render 'step_4' %>
            <%= render 'step_5' %>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <%= render 'shared/modals/terms_of_service' %>
</main>

<script type="text/javascript">
  function updateServices(location) {
    // location: 1 - Perth, 2 - Australia, 3 - Outside Australia
    // Habilita todos os servicos

    if (location === '1') {
      $('#serviceRadio1').attr('disabled', false);
      $('#serviceRadio3').attr('disabled', false);
      $('label[for="serviceRadio1"]').trigger('click');
    }else if (location === '2') {
      $("#serviceRadio1").attr('disabled', true);
      $('#serviceRadio3').attr('disabled', false);
      $('label[for="serviceRadio2"]').trigger('click');
    } else if (location === '3') {
      $("#serviceRadio1").attr('disabled', true);
      $("#serviceRadio3").attr('disabled', true);
      $('label[for="serviceRadio2"]').trigger('click');
    }

    return true;
  }

  function updateAgent(agent) {
    // Agent: 1 - Ana Julia, 2 - Claudio
    var name = 'Ana Julia';
    var imgUrl = '<%= asset_path 'ana.png' %>';
    var desc = `
    <p class="text-justify">
      Ana Julia Carusi is a Registered Migration Agent who graduated at the Australian National University. She is the Managing Director of Seven Migration and also Managing Director of Information Planet Perth, specialized in services for international students.
    </p>
    <p class="text-justify">
      Originally from Brazil, Ana Julia has been in Australia for the past 10 years assisting migrants to reach their dreams. She is also a member of the Migration Institute of Australia (MIA).
    </p>
    <p class="text-justify">
    MARN 157155
    </p>`;

    if (agent === '2') {
      name = 'Claudio Garzini';
      imgUrl = '<%= asset_path 'tiririca.jpg' %>';
      desc = `
      <p class="text-justify">
        Claudio eh um cabra bem legal...
      </p>
      <p class="text-justify">
        Pena q nao pode ver mulher...
      </p>
      <p class="text-justify">
        Na danca ja pede pra abaixar...
      </p>`;
    }

    var component = `
      <img class="mr-3 rounded-circle" src="${imgUrl}" alt="${name}">
      <div class="media-body">
        <h5 class="mt-0">About ${name}</h5>
        ${desc}
      </div>
    `;

    $('#agentMedia').html(component);
  }

  function rebuildTimetable(date) {
    var agent = $('input[name="agentRadio"]:checked').val();
    var service = $('input[name="serviceRadio"]:checked').val();

    var params = { agent_id: agent, service_id: service, date: date };

    $('#available-times-container').html('<i class="fas fa-spinner"></i>');
    $.get("/test/fetch_timetable", params).done(function(resp) {
      if (resp.timetable.length > 0) {
        var availableTimesList = resp.timetable.map((time, i) => {
          return `
          <input type="radio" id="availableTime${i}" name="availableTimeRadio"
          class="custom-control-input" value="${time}" />
          <label for="availableTime${i}">${time}</label>
          `;
        });

        $('#available-times-container').html(availableTimesList);
        $('input[type="radio"][name="availableTimeRadio"]').checkboxradio({
          icon: false
        });
      } else {
        $('#available-times-container').html('<div>No time available on this date.</div>');
      }
    }).fail(function(resp) {
      $('#available-times-container').html('<div>Fail to load timetables!!!!</div>');
    });
  }

  function updateBlockedDays(date) {
    console.log(date);
    var agent = $('input[name="agentRadio"]:checked').val();
    var service = $('input[name="serviceRadio"]:checked').val();

    var params = { agent_id: agent, service_id: service, date: date };

    $('#available-times-container').html('<i class="fas fa-spinner"></i>');
    $.get("/test/fetch_blocked_days", params).done(function(resp) {
      $('#new_calendar').datepicker('setDatesDisabled', resp.blocked_days);
    });
  }

  $(document).ready(function(){
    updateAgent($('input[name="agentRadio"]:checked').val());

    $('input[name="locationRadio"]').on('change', function() {
      updateServices($(this).val());
    });

    $('input[name="agentRadio"]').on('change', function() {
      updateAgent($(this).val());
    });

    $('input[type="radio"]').checkboxradio({
      icon: false
    });

    $('#smartwizard').smartWizard({
      theme: 'arrows',
      showStepURLhash: false
    });

    $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {
      console.log('STEP', stepNumber);
      if (stepDirection === 'forward' && stepNumber === 0) {
        updateBlockedDays(new Date());
      }

      if (stepDirection === 'forward' && stepNumber === 1) {
        if ($('input[name="availableTimeRadio"]').length > 0) {
          $('#form-2').validate({
            rules: { availableTimeRadio: { required: true } },
            messages: { availableTimeRadio: { required: 'Please select an available time.'} },
            errorElement: "em",
            errorPlacement: function ( error, element ) {
              error.addClass( "help-block" );
              element.parents( ".col-sm-5" ).addClass( "has-feedback" );
              error.insertAfter( element.parent( "div" ) );
              if ( !element.next( "span" )[ 0 ] ) {
                $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
              }
            },
          });

          return $('#form-2').valid();
        } else {
          alert('Please select an available date on calendar before continue.');
          return false;
        }
      } else if (stepDirection === 'forward' && stepNumber === 2) {
        $('#form-3').validate({
          focusInvalid: true,
          rules: {
            clientEmail: { required: true, minlength: 5 },
            clientName:  { required: true, minlength: 5 },
            clientPhone: { required: true, minlength: 3 },
            clientVideocallId: { required: { depends: function(e) {
              return $('input[name="serviceRadio"]:checked').val() === '2';
            } } },
            referenceSelector: { required: true },
            termsAndConditionsCheck: { required: true }
          },
          messages: { clientVideocallId: { required: 'This field is required if Videcall service is selected.'} },
          errorElement: "em",
          errorPlacement: function ( error, element ) {
            error.addClass( "help-block" );
            element.parents( ".col-sm-5" ).addClass( "has-feedback" );
            if ( element.prop( "type" ) === "checkbox" ) {
              error.insertAfter( element.parent( "div" ) );
            } else {
              error.insertAfter( element );
            }
            if ( !element.next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
            }
          },
          success: function ( label, element ) {
            // Add the span element, if doesn't exists, and apply the icon classes to it.
            if ( !$( element ).next( "span" )[ 0 ] ) {
              $( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
            }
          },
          highlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
            $( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
          },
          unhighlight: function ( element, errorClass, validClass ) {
            $( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
            $( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
          }
        });
        return $('#form-3').valid();
      } else {
        return true;
      }
     });

     var endDate = new Date();
     endDate.setMonth(endDate.getMonth() + 2);
    $('#new_calendar').datepicker({
      format: "dd/mm/yyyy",
      maxViewMode: 1,
      keyboardNavigation: false,
      daysOfWeekDisabled: "0,6",
      startDate: new Date(),
      endDate: endDate,
      toggleActive: true
    }).on('changeDate', function(e) {
      if (e.date) {
        rebuildTimetable(e.date);
      } else {
        $('#available-times-container').html(`
          <div class="alert alert-light" role="alert">
            Please, select an available date on the left.
          </div>`);
      }
    })
  });
</script>
