<div id="step-1" class="wizard-step-container">
  <form id='form-1'>
    <div class="form-group">
      <h5>Select Your Service</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="eventServiceRadio2" name="eventServiceRadio" class="custom-control-input" value="2" checked>
        <label for="eventServiceRadio2">Migration Advice</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventServiceRadio1" name="eventServiceRadio" class="custom-control-input" value="1">
        <label for="eventServiceRadio1">Skills Assessment Advice</label>
      </div>
      <div class="form-check-inline">
        <p id="migration-info-text" class="service-under-text">This service relates to the analysis of clients’ eligibility to Australian visas <strong>ONLY</strong>. Throughout Migration Advice consultations, our Registered Migration Agents will analyse your individual circumstances in order to provide you with a comprehensive migration plan. Please note, however, that, during these consultations, our Migration Agents <strong>WILL NOT</strong> be looking into skills assessment matters and their respective eligibility requirements. For that, please select ‘Skills Assessment Advice' on the above menu.</p>
        <p id="skills-info-text" class="service-under-text">This service relates to the analysis of clients’ skills assessment only. Throughout Skills Assessment Advice meetings, specialised professionals <strong>(who are not Registered Migration Agents)</strong> will provide you with an overview of how some of these processes work (including major steps and associated costs), before making a recommendation as to whether or not you should proceed with a particular application. Please note, however, that, during these consultations, our advisers <strong>WILL NOT</strong> be looking into visa matters and their respective eligibility requirements. For that, please select ‘Migration Advice' on the above menu.</p>
      </div>
    </div>
    <div class="form-group">
      <h5>Select Your Location</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio1" name="locationRadio" class="custom-control-input" value="1"  <%= offshore_user? ? 'disabled' : 'checked' %> >
        <label for="locationRadio1">Perth Only</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio2" name="locationRadio" class="custom-control-input"  value="2"  <%= offshore_user? ? 'disabled' : '' %> >
        <label for="locationRadio2">Australia</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="locationRadio3" name="locationRadio" class="custom-control-input"  value="3" <%= offshore_user? ? 'checked' : 'disabled' %> >
        <label for="locationRadio3">Outside Australia</label>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="font-weight-light">For in-person appointments in Adelaide(SA), please contact <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a> to check availability.</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <h5>Select a Consultation Type</h5>
      <hr>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio1" name="eventTypeRadio" class="custom-control-input"  value="1" <%= offshore_user? ? 'disabled' : 'checked' %>>
        <label for="eventTypeRadio1" data-toggle="tooltip" title="Only in Perth" data-placement="bottom">In-Person</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio2" name="eventTypeRadio" class="custom-control-input"  value="2" <%= offshore_user? ? 'checked' : '' %>>
        <label for="eventTypeRadio2">Video Call</label>
      </div>
      <div class="form-check-inline">
        <input type="radio" id="eventTypeRadio3" name="eventTypeRadio" class="custom-control-input"  value="3" <%= offshore_user? ? 'disabled' : '' %>>
        <label for="eventTypeRadio3" data-toggle="tooltip" title="Only within Australia" data-placement="bottom">Phone Call</label>
      </div>
    </div>
    <div id="agent-section">
      <div class="form-group">
        <h5>Select a Migration Agent</h5>
        <hr>
        <div class="form-check-inline">
          <input type="radio" id="agentRadio2" name="agentRadio" class="custom-control-input"  value="2" checked>
          <label for="agentRadio2">Claudio Garzini</label>
        </div>
        <div class="form-check-inline">
          <input type="radio" id="agentRadio1" name="agentRadio" class="custom-control-input"  value="1">
          <label for="agentRadio1">Ana Julia Carusi</label>
        </div>
        <div class="form-check-inline">
          <input type="radio" id="agentRadio4" name="agentRadio" class="custom-control-input"  value="4">
          <label for="agentRadio4">Ana Leticia Gnavi</label>
        </div>
      </div>
      <div class="form-group">
        <div class="media" id='agentMedia'>
        </div>
      </div>
    </div>
    <div id="skills-section">
      <div class="form-group">
        <h5>About Skills Assessment</h5>
        <hr>
        <div class="media">
          <img class="mr-3 rounded-circle" src='<%= asset_path 'skills_assessment.jpg' %>'>
          <div class="media-body">
              <p class="text-justify">Clients who wish to validate their profession or trade in Australia might be required to have their skills and work experience assessed and/or recognised by relevant authorities. </p>
              <p class="text-justify">Our Skills Assessment Advice service focuses on providing clients with an overview of how some of these processes work, what are the main steps and costs associated with them, and what documents and evidence you will be required to provide authorities with in order to be successful. </p>
              <p class="text-justify">Throughout such meetings, our advisers will also analyse your individual circumstances before making a recommendation as to whether or not you proceed with a particular skills assessment application.</p>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
