<!-- CONTENT -->
<main id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= form_for @event, url: { action: :create}, html: { class: 'needs-validation' } do |f| %>
          <%= f.hidden_field :start %>
          <%= f.hidden_field :end %>
          <h4 class="mb-3">Bookings</h4>
          <p>Please fillout the information below to schedule your appointment with Seven Migration.</p>
          <p>If you are a returning client, please fill in your email address and we'll search for your details.</p>
          <%= f.fields_for :client do |client_form| %>
            <%= client_form.hidden_field :premium %>
            <%= hidden_field_tag :subsequent_event %>
            <div class="row mb-3">
              <div class="col-md-6">
                <%= client_form.label :email %>
                <%= client_form.email_field :email, {class: 'form-control', placeholder: 'john.smith@example.com'} %>
              </div>
              <div class="col-md-6">
                <%= client_form.label :name, 'Full name' %>
                <%= client_form.text_field :name, {class: 'form-control', placeholder: 'Please enter your full name here'} %>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <%= client_form.label :location, 'Location' %>
                <%= client_form.text_field :location, {class: 'form-control', placeholder: 'Perth, Western Australia'} %>
              </div>
              <div class="col-md-6">
                <%= client_form.label :phone, 'Phone Number' %>
                <%= client_form.text_field :phone, {class: 'form-control', placeholder: 'Please enter your phone number here'} %>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-12">
                <%= client_form.label :reference, 'How did you hear from us?' %>
                <%= client_form.select :reference, options_from_collection_for_select(@references, 'desc', 'desc'), {}, { class: 'custom-select d-block w-100' } %>
              </div>
            </div>
          <% end %>
          <div class="customCheckBox">
            <%= f.label :terms_of_service, {class: 'cpw'} do %>
              I agree with
              <%= f.check_box :terms_of_service, {class: 'custom-control-input'} %>
              <span class="checkmark"></span>
              <a href="#" class="gradient textGradient" data-toggle="modal" data-target="#termsOfServicesModal">Terms and Conditions.</a>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Note: For in person appointment in Adelaide, please contact <a href="mailto:info@sevenmigration.com.au">info@sevenmigration.com.au</a> to check availability.</p>
            </div>
          </div>
          <hr class="mb-4">
          <h4 class="mb-3">Available Agents</h4>
          <div class="d-block my-3">
            <% @agents.each do |agent| %>
            <div class="customRadio">
              <%= f.label "agent_id_#{agent.id}", { class: 'cpw'} do %>
                <%= f.radio_button :agent_id, agent.id, { class: 'custom-control-input' } %>
                <span class="checkmark"></span>
                <%= agent.display_name %>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-6">
              <%= f.label :event_type_id, 'Appointment Type' %>
              <%= f.hidden_field :appointment_id %>
              <%= f.select :event_type_id, options_from_collection_for_select(@eventTypes, 'id', 'desc', @eventTypes[1].id), {}, { class: 'custom-select d-block w-100' } %>
            </div>
          </div>
          <hr class="mb-4">
          <div id="event_calendar"></div>
          <hr class="mb-4">
          <button class="btn gradient backgroundGradient btn-lg btn-custom-gradient" id="bookBtn" type="button" data-toggle="modal" data-target="#offshoreModal">Book now</button>
        <% end %>
      </div>
    </div>
  </div>
  <!-- </div> -->
</main>

<%= render 'shared/modals/onshore_customer_disclaimer' %>
<%= render 'shared/modals/offshore_customer_disclaimer' %>
<%= render 'shared/modals/return_customer_disclaimer' %>
<%= render 'shared/modals/terms_of_service' %>

<script>
function eventCalendar() {
  $(".calendar-message").hide();

  return $('#event_calendar').fullCalendar({
    defaultView: 'agendaWeek',
    minTime: businessHours.minTime,
    maxTime: businessHours.maxTime,
    // hiddenDays: timetable.hiddenDays,
    allDaySlot: false,
    height: 'auto',
    timezone: 'local',
    selectable: true,
    selectConstraint: 'businessHours',
    validRange: function(nowDate) {
      return {
        start: nowDate.clone().add(-2, 'day'),
        end: nowDate.clone().add(2, 'months')
      };
    },
    eventSources: [
      {
        url: '/event/busy_events',
        rendering: 'background'
      },
      {
        url: '/event/temp_events',
        data: {
          client_name: function() {
            return $('#event_client_attributes_name').val()
          },
          client_email: function() {
            return $('#event_client_attributes_email').val()
          },
        },
      }
    ],
    select: function (start, end){
      $('#event_start').val(start.format());
      $.post(`/event/create_temp_event?${$('#new_event').serialize()}`).done(
        function() {
          $('#event_calendar').fullCalendar('refetchEvents');
        }
      );
    },
    selectOverlap: false,
    businessHours: timetable.businessHours
  });
};
function onPageLoad() {
  businessHours();
  filterAppointmentType($('#event_client_attributes_location').val());
  $('#event_client_attributes_location')
    .geocomplete()
    .bind("geocode:result", function(event, result){
      filterAppointmentType(result.vicinity);
    });
  $("[name='event[appointment_id]']").on('change', function () {
    setProperModal();
  });
  $("input[name='event[agent_id]']").on('change', function() {
    loadTimetable();
  });
  $("#event_event_type_id").on('change', function() {
    loadTimetable();
  });
  $("#event_client_attributes_email").on('change', function() {
    loadClientByEmail($(this).val());
    // loadTimetable();
  });
  filterEventTypes($("#event_appointment_id").val());
  $("#event_appointment_id").on('change', function() {
    filterEventTypes($(this).val());
  });
  $('#new_event').validate({
    focusInvalid: true,
    rules: {
      "event[client_attributes][email]": {
        required: true,
        minlength: 5
      },
      "event[client_attributes][name]": {
        required: true,
        minlength: 5
      },
      "event[client_attributes][location]": {
        required: true,
        minlength: 3
      },
      "event[client_attributes][phone]": {
        required: true,
        minlength: 6
      },
      "event[terms_of_service]": {
        required: true
      }
    },
    errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-sm-5" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}
  });
  $('#bookBtn').on('click', function (e){
    $(this).attr('data-toggle', $('#new_event').valid() ? 'modal' : '');
  });
};
$(document).on('turbolinks:load', onPageLoad);
</script>
