<div class="container seven-panel">
  <%= form_for @event, url: { action: :create}, html: { class: 'justify-content-center' } do |f| %>
    <%= f.hidden_field :start %>
    <%= f.hidden_field :end %>
    <p>
      Fill out the form below to make an appointment with one of Seven Migration agents.
    </p>
    <p>
      If you are a returning customer, please fill in your email address and we'll look out your details for you.
    </p>
    <%= f.fields_for :client do |client_form| %>
      <%= client_form.hidden_field :premium %>
      <%= hidden_field_tag :subsequent_event %>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <%= client_form.label :email %>
            <%= client_form.email_field :email, {class: 'form-control', placeholder: 'Your email here: john.doe@example.com'} %>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <%= client_form.label :name, 'Full name' %>
            <%= client_form.text_field :name, {class: 'form-control', placeholder: 'Enter your full name here...'} %>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-4">
          <div class="form-group">
            <%= client_form.label :location, 'Location' %>
            <%= client_form.text_field :location, {class: 'form-control', placeholder: 'Your location here: Sao Paulo - Brazil'} %>
            <small id="locationHelp" class="form-text text-muted">Enter your city and country. Ie: Sao Paulo - Brazil</small>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <%= client_form.label :phone, 'Phone Number' %>
            <%= client_form.text_field :phone, {class: 'form-control', placeholder: 'Your phone number here... '} %>
          </div>
        </div>
        <div class="col-auto">
          <div class="form-group">
            <%= f.label :event_type_id, 'Appointment Type' %>
            <div class="form-inline">
              <%= f.hidden_field :appointment_id %>
              <%= f.select :event_type_id, options_from_collection_for_select(@eventTypes, 'id', 'desc', @eventTypes[1].id), {}, { class: 'form-control' } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-row">
      <div class="col-auto">
        <div class="form-group">
          <p class="font-weight-normal">View availability for</p>
          <% @agents.each do |agent| %>
          <div class="form-check form-check-inline">
            <%= f.radio_button :agent_id, agent.id, { class: 'form-check-input' } %>
            <%= f.label :agent_id, agent.display_name, { class: 'form-check-label'} %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="form-check">
      <%= f.check_box :terms_of_service, {class: 'form-check-label'} %>
      <%= f.label :terms_of_service, 'I agree with Terms of Service.'%>
    </div>

    <div class="calendar-message">
      <p>Select an agent to display his timetable.</p>
    </div>
    <div id="event_calendar" />

    <div class="form-group">
      <button class="btn btn-primary after-calendar" type="button"
      data-toggle="modal" data-target="#offshoreModal" id="bookNowBtn">
        Book Now!
      </button>
    </div>
  <% end %>
</div>

<div class="modal fade" id="onshoreModal" tabindex="-1" role="dialog" aria-labelledby="onshoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="onshoreModalLabel">Onshore Consultations:</h5>
      </div>
      <div class="modal-body">
        <p>
          For clients in Australia, Seven Migration renders face-to-face consultations
          with our Registered Migration Agents in Perth (WA) and Adelaide (SA)
          (subject to availability) as well as Skype Video Conferences for those
          elsewhere within Australia (subject to availability and time differences).
        </p>
        <p>
          Consultation Fee: AUD$180.00 (GST Inclusive)*
        </p>
        <p>
          Services Included:  
        </p>
        <ul>
          <li>Analysis of visa eligibility, according to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of migration advice and development of an initial migration plan, subject to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of general orientation in regards to professional validation processes (subject to individual analysis).</li>
        </ul>
        <span>
          *As part of the Consultation Fee for your 1st appointment, you will
          also receive an entitlement to <b>two</b> free-of-charge follow-up consultations,
          which can be scheduled at anytime of your discretion. Please also note
          that this Consultation Fee <b>does not include</b> fees related to visa
          applications, legal representation (as well as any other migration
          agent costs) or any other fees applicable throughout the process of
          lodging and/or appealing for a visa.
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="offshoreModal" tabindex="-1" role="dialog" aria-labelledby="offshoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="offshoreModalLabel">Offshore Consultations:</h5>
      </div>
      <div class="modal-body">
        <p>
          For clients outside Australia, Seven Migration renders Skype Video
          Conferences with our Registered Migration Agents (subject to
          availability and time differences).
        </p>
        <p>
          Consultation Fee: AUD$215.00 (GST Inclusive)*
        </p>
        <p>
          Services Included:  
        </p>
        <ul>
          <li>Analysis of visa eligibility, according to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of migration advice and development of an initial migration plan, subject to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of general orientation in regards to professional validation processes (subject to individual analysis).</li>
        </ul>
        <span>
          *As part of the Consultation Fee for your 1st appointment, you will
          also receive an entitlement to <b>one</b> free-of-charge follow-up
          consultations, which can be scheduled at anytime of your discretion.
          Please also note that this Consultation Fee <b>does not include</b> fees
          related to visa applications, legal representation (as well as any
          other migration agent costs) or any other fees applicable throughout
          the process of lodging and/or appealing for a visa.
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="returnCustomerModal" tabindex="-1" role="dialog" aria-labelledby="returnCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="returnCustomerModalLabel">Subsequent Consultations:</h5>
      </div>
      <div class="modal-body">
        <p>
          For clients in and outside Australia who have already undergone preliminary
          appointments, Seven Migration renders subsequent face-to-face
          consultations with our Registered Migration Agents in Perth (WA)
          and Adelaide (SA) (subject to availability) as well as Skype Video
          Conferences for those elsewhere (subject to availability and time differences).
        </p>
        <p>
          Consultation Fee: AUD$50.00 per appointment (GST Inclusive)* 
        </p>
        <p>
          Services Included:  
        </p>
        <ul>
          <li>Analysis of visa eligibility, according to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of migration advice and development of an initial migration plan, subject to clients’ circumstances and individual objectives/background.</li>
          <li>Provision of general orientation in regards to professional validation processes (subject to individual analysis).</li>
        </ul>
        <span>
          *Please also note that this Consultation Fee does not include fees
          related to visa applications, legal representation (as well as any
          other migration agent costs) or any other fees applicable throughout
          the process of lodging and/or appealing for a visa.
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>

<script>
function eventCalendar() {
  $(".calendar-message").hide();
  return $('#event_calendar').fullCalendar({
    defaultView: 'agendaWeek',
    minTime: '09:00:00',
    maxTime: '17:00:00',
    hiddenDays: timetable.hiddenDays,
    allDaySlot: false,
    height: 'auto',
    selectable: true,
    selectConstraint: 'businessHours',
    validRange: function(nowDate) {
      return {
        start: nowDate.clone().add(-2, 'day'),
        end: nowDate.clone().add(2, 'months')
      };
    },
    eventSources: [
      {
        url: '/event/busy_events',
        rendering: 'background'
      },
      {
        url: '/event/temp_events',
        data: {
          client_name: function() {
            return $('#event_client_attributes_name').val()
          },
          client_email: function() {
            return $('#event_client_attributes_email').val()
          },
        },
      }
    ],
    select: function (start, end){
      $('#event_start').val(start.format());
      $.post(`/event/create_temp_event?${$('#new_event').serialize()}`).done(
        function() {
          $('#event_calendar').fullCalendar('refetchEvents');
        }
      );
    },
    selectOverlap: false,
    businessHours: timetable.businessHours
  });
};
function loadTimetable(){
  var agentId = $("input[name='event[agent_id]']:checked").val();
  var eventTypeId = $("#event_event_type_id").val();
  $.get("/event/timetable", {agent_id: agentId, event_type_id: eventTypeId })
   .done(function(response){
     timetable = response;
     clearCalendar();
     eventCalendar();
   });
}
function loadClientByEmail(email) {
  $.get("/client_by_email", {email: email}).done(function(data) {
    if (data.client) {
      console.log(data);
      $("#event_client_attributes_name").val(data.client.name);
      $("#event_client_attributes_premium").val(data.client.premium);
      $("#event_client_attributes_phone").val(data.client.phone);
      $("#event_client_attributes_location").val(data.client.location);
      $("#subsequent_event").val(data.subsequent_event);
      if (data.event_type_id) {
        $("[name='event[event_type_id]']").val(data.event_type_id);
      }
      if (data.appointment_id) {
        $("[name='event[appointment_id]']").val(data.appointment_id);
        $("[name='event[appointment_id]']").trigger('change');
      }
      if (data.agent_id) {
        $(`#event_agent_id_${data.agent_id}`).prop('checked', true);
        $(`#event_agent_id_${data.agent_id}`).trigger('change');
      }
    }
  });
}
function setProperModal() {
  var modalId = 'onshoreModal';
  if ($('#subsequent_event').val() === 'true' ) {
    modalId = 'returnCustomerModal';
  } else {
    if ($("[name='event[appointment_id]']").val() == 1) {
      modalId = 'offshoreModal';
    } else {
      modalId = 'onshoreModal';
    }
  }
  $('#bookNowBtn').attr('data-target', `#${modalId}`);
}
function filterEventTypes(appointment_id) {
  if (appointment_id == '1') {
    $("#event_event_type_id option:first").attr('disabled', true);
  } else {
    $("#event_event_type_id option:first").attr('disabled', false);
  }

  if ($("#event_event_type_id option:selected").val() == '1') {
    $("#event_event_type_id option:selected").removeAttr('selected');
    $("#event_event_type_id").val('2');
  }
}
function filterAppointmentType(location) {
  if (location == 'Perth') {
    $('#event_appointment_id').val('2');
  } else {
    $('#event_appointment_id').val('1');
  }
  $("#event_appointment_id").trigger('change');
}
function onPageLoad() {
  filterAppointmentType($('#event_client_attributes_location').val());
  $('#event_client_attributes_location')
    .geocomplete()
    .bind("geocode:result", function(event, result){
      filterAppointmentType(result.vicinity);
    });
  $("[name='event[appointment_id]']").on('change', function () {
    setProperModal();
  });
  $("input[name='event[agent_id]']").on('change', function() {
    loadTimetable();
  });
  $("#event_event_type_id").on('change', function() {
    loadTimetable();
  });
  $("#event_client_attributes_email").on('change', function() {
    loadClientByEmail($(this).val());
  });
  filterEventTypes($("#event_appointment_id").val());
  $("#event_appointment_id").on('change', function() {
    filterEventTypes($(this).val());
  });
  $('#new_event').validate({
    rules: {
      "event[client_attributes][email]": {
        required: true,
        minlength: 5
      },
      "event[client_attributes][name]": {
        required: true,
        minlength: 5
      },
      "event[client_attributes][location]": {
        required: true,
        minlength: 3
      },
      "event[client_attributes][phone]": {
        required: true,
        minlength: 6
      },
      "event[terms_of_service]": {
        required: true
      }
    },
    errorElement: "em",
		errorPlacement: function ( error, element ) {
			// Add the `help-block` class to the error element
			error.addClass( "help-block" );

			// Add `has-feedback` class to the parent div.form-group
			// in order to add icons to inputs
			element.parents( ".col-sm-5" ).addClass( "has-feedback" );

			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}

			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !element.next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-remove form-control-feedback'></span>" ).insertAfter( element );
			}
		},
		success: function ( label, element ) {
			// Add the span element, if doesn't exists, and apply the icon classes to it.
			if ( !$( element ).next( "span" )[ 0 ] ) {
				$( "<span class='glyphicon glyphicon-ok form-control-feedback'></span>" ).insertAfter( $( element ) );
			}
		},
		highlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
			$( element ).next( "span" ).addClass( "glyphicon-remove" ).removeClass( "glyphicon-ok" );
		},
		unhighlight: function ( element, errorClass, validClass ) {
			$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
			$( element ).next( "span" ).addClass( "glyphicon-ok" ).removeClass( "glyphicon-remove" );
		}

  });
}
$(document).on('turbolinks:load', onPageLoad);
</script>
